.wrapper {
  width: 40rem;
  padding: 2rem;

  background-color: #f8faf7;

  border-radius: var(--border-radius-m);

  margin: 0 auto;
  margin-top: 9.7rem;
  border: 2px solid var(--color-dark);

  position: relative;

  overflow: hidden;
}

.or {
  display: block;
  text-align: center;
  font-weight: 700;
  margin: 2rem 0;
}

.social-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.spinner-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(78, 166, 47, 0.1);
  /* z-index: 100; */
  /* opacity: 0.1; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border-width: 5px;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  z-index: 100;
  /* opacity: 1; */
}
