.main {
  width: 99.6rem;
  height: 56rem;

  background-color: #f8faf7;

  border-radius: var(--border-radius-m);

  margin: 0 auto;
  margin-top: 9.7rem;

  padding: 3.4rem 5.8rem 3.8rem 5.8rem;

  border: 2px solid var(--color-dark);
}

.logo {
  color: var(--color-primary);

  margin-top: 1.4rem;
  margin-left: 4.2rem;
}

.header {
  text-align: center;
  color: var(--text-color--dark);
}

.routes-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  width: 24.3rem;
  height: 16.1rem;
  border-radius: var(--border-radius-m);
  background-color: var(--color-white);
  border: 2px solid var(--text-color);
}

.container:hover {
  background-color: var(--color-grey);
  border-color: (--background-dark);
}

.route-name {
  width: 14.4rem;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-dark);
}

.active {
  background-color: var(--color-grey);
  border: 4px solid var(--background-dark);
}

.button-wrapper {
  margin-top: 5rem;
  text-align: center;
}

.signin {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 5rem;
  color: var(--color-dark);
}

.signin a:link,
.signin a:visited {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 600;
}

.icon {
  width: 3.8rem;
  height: 3.8rem;
  fill: var(--color-dark);
}
