:root {
  --color-primary: #4ea62f;
  --color-primary-rgb: rgba(78, 166, 47, 1);
  --color-dark: #081d03;

  --color-primary-shade-d: #2f641c;
  --color-primary-shade: #3e8526;
  --color-primary-tint: #71b859;

  --background-dark: #081d03;

  --color-white: #fff;
  --color-black: #000;

  --border-color: #d7e0d6;

  /* border radii */
  --border-radius-lg: 25px;
  --border-radius-m: 10px;
  --border-radius-sm: 5px;

  --text-color: #616d57;
  --text-color--dark: #081d03;

  --max-width: 1100px;
  --border-radius: 25px;
}

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 100;
  transition: all 0.2s;
  color: var(--text-color);
  transition: all 0.2s;
}

html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  letter-spacing: 1.5%;
}

ul {
  list-style: none;
}

body {
  background-color: var(--color-white);
  position: relative;
  font-size: 1.8rem;
}

.body-main {
  max-width: 93vw;
  margin: 0 auto;
}

/* General styles */
.heading--primary {
  font-size: 6.4rem;
  font-weight: 700;
  color: var(--color-primary);
}

.heading--secondary {
  font-size: 4rem;
  font-weight: 700;
}

.heading--tertiary {
  font-size: 2.4rem;
  font-weight: 600;
}
