.link--background,
.link--no-background {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-sm);

  font-size: 1.6rem;

  text-decoration: none;

  font-weight: normal;
}

.link--background {
  background-color: var(--color-primary-tint);
  color: var(--color-black);
  border: 1px solid var(--color-primary);
}

.link--background:hover {
  background-color: transparent;
  color: var(--color-primary-shade);
}

/* .link--no-background {
  border: 1px solid var(--color-primary);
} */
