.section {
  margin-top: 14.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 67rem;
  height: 54.7rem;
  border-radius: var(--border-radius-lg);
}

.heading--green {
  display: block;
  width: 45.1rem;
  color: var(--color-primary);
}

.heading--normal {
  color: #081d03;
}

.text-block {
  background-color: #f8faf7;
  border-radius: var(--border-radius-lg);

  width: 64.8rem;
  height: 54.7rem;

  padding-top: 2rem;
  padding-left: 2rem;
  padding-left: 5rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 4.7rem;
}

.partitions {
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
}
