.section {
  margin-top: 14.2rem;
  background-color: #f8faf7;
  border-radius: var(--border-radius-lg);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2.8rem 3.4rem 2.8rem 9rem;
}

.img {
  width: 30rem;
  height: 30rem;
  border-radius: var(--border-radius-lg);
}

.text-block {
  width: 78.3rem;

  display: flex;
  flex-direction: column;
  gap: 4.7rem;
}

.text-block h2 {
  color: #081d03;
  font-weight: 400;
}

.partitions {
  /* margin-top: 4.7rem; */
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
}
